<h1>Listing evenements</h1>

<% @evenements.each do |evenement| %>
      <% if evenement.user.idfacebook
           @id = evenement.user.idfacebook
           url = "https://graph.facebook.com/"+@id.to_s+"/picture"
         else
           url = "/images/profile.jpg"
         end

      %>

      <div id="evenement">
        <div class="user"><img src= <%= url %> ><br/><b><%= evenement.user.login %></b></div>
        <div class="infoEvent">
          <span class="nomEvent"><%= evenement.nom %></span><br/>
          <span class="dateEvent"><%= evenement.date.to_date.to_formatted_s(:rfc822) %></span> &nbsp; | &nbsp;Au <span class="endroitEvent"><%= evenement.endroit.nom %></span><br/>
          <span class="descEvent"><%= evenement.description %></span><br/>
        </div>
        <div class="imageEvent"></div>
      </div>

<% end %>

<br />

<%= link_to 'New Evenement', new_evenement_path %>
